.card {
    position: relative;
    width: 200px;
    height: auto;
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    position: relative;
    padding-bottom: 40px;
}

.name, .height, .weight, .bxp, .type {
    font-size: 20px;
    padding: 10px;
    font-family: monospace;
}

.type {
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
}

.addteam, .removeteam{
    width: fit-content;
    padding: 0px 10px;
    height: 35px;
    font-family: monospace;
    font-size: 17px;
    position: absolute;
    transform: translateX(-50%);
    bottom: 5px;
    background-color: black;
    border: 0px;
    font-weight: bold;
    color: rgb(240, 240, 240);
    border-radius: 2px;
    cursor: pointer;
}

.addteam:hover {
    background-color: rgb(48, 194, 194);
}

.removeteam:hover {
    background-color: rgb(255, 75, 75);
}

.typefire {
    background-color: #F08030;
}

.typebug {
    background-color: #A8B820;
}

.typedark {
    background-color: #705848;
}

.typedragon {
    background-color: #7038F8;
}

.typeelectric {
    background-color: #F8D030;
}

.typefairy {
    background-color: #EE99AC;
}

.typefighting {
    background-color: #C03028;
}

.typeflying {
    background-color: #A890F0;
}

.typeghost {
    background-color: #705898;
}

.typegrass {
    background-color: #78C850;
}

.typeground {
    background-color: #E0C068;
}

.typeice {
    background-color: #98D8D8;
}

.typenormal {
    background-color: #A8A878;
}

.typepoison {
    background-color: #A040A0;
}

.typepsychic {
    background-color: #F85888;
}

.typerock {
    background-color: #B8A038;
}

.typesteel {
    background-color: #B8B8D0;
}

.typewater {
    background-color: #6890F0;
}

.hide {
    display: none;
}