.card {
    position: relative;
    width: 200px;
    height: auto;
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    position: relative;
    padding-bottom: 40px;
}

.name, .height, .weight, .bxp, .type {
    font-size: 20px;
    margin: 10px;
    font-family: monospace;
}

.name {
    font-weight: bold;
}

.addteam, .removeteam{
    width: 175px;
    height: 35px;
    font-family: monospace;
    font-size: 17px;
    position: absolute;
    transform: translateX(-50%);
    bottom: 5px;
    background-color: black;
    border: 0px;
    font-weight: bold;
    color: rgb(240, 240, 240);
    border-radius: 2px;
    cursor: pointer;
}

.addteam:hover {
    background-color: rgb(48, 194, 194);
}

.removeteam:hover {
    background-color: rgb(255, 75, 75);
}