#top-button {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(0, 255, 255);
    color: white;
    font-weight: bold;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}